*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 1.2rem;
}


header, main {
  margin: 0 auto;
  max-width: 55%;
}


header {
  position: relative;
  overflow: hidden;
}

header img {
  width: 100%;
  margin-top: 1rem;
  object-fit: contain;
  filter: brightness(0.9);
  border-radius: 0.5rem;
}

header h1 {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  color: white;
  font-size: 3.2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  white-space: nowrap;
}


main {
  padding: 0 1rem;
}

section {
  margin: 0 auto;
}

.quote-wrapper {
  padding: 0.8rem;
  padding-left: 0.35rem;
  margin: 1.5rem 0;
  border-radius: 0.3rem;  
}

.quote-wrapper.bg-red {
  background-color: rgb(255, 0, 0, 0.2);
  color: rgb(100, 0, 0);
}

.quote-wrapper.bg-green {
  background-color: rgb(0, 255, 0, 0.2);
  color: rgb(0, 100, 0);
}

.quote-wrapper.bg-blue {
  background-color: rgb(0, 0, 255, 0.2);
  color: rgb(0, 0, 100);
}

blockquote {
  position: relative;
  margin: 0 0 0 4.7rem;
}

blockquote::before {
  content: "\201C";
  display: block;
  position: absolute;
  top: -2rem;
  left: -4.4rem;
  font-size: 12rem;
  font-family: Arial, Helvetica, sans-serif;
}

blockquote cite {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

blockquote cite:before {
  content: "\2014 \2009";
}


table {
  background-color: #ffe066;
}

th, td {
  padding: 1rem 0.5rem;
  text-align: center;
  background-color: #fff5cc;
}

th {
  background-color: #ffd11a;
}


footer {
  width: 100%;
  background-color: #b3b3b3;
  color: #1a1a1a;
  font-size: 1.05rem;
  padding: 1.2rem 0;
  margin-top: 4rem;
}

.footer-inner {
  width: fit-content;
  margin: 0 auto;
}

footer a, footer a:hover, footer a:visited {
  text-decoration: none;
  color: #1a1a1a;
}

footer a:hover {
  text-decoration: underline;
}
